.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    max-width: 310px;
}

.board-square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: #69524f;
    background-color: #d5a069;
    border: 1px solid #765b58;
    cursor: pointer;
    outline: none;
}
