.show-winner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 310px;
    height: 100px;
}

.message-title {
    color: #69524f;
}

.button-again {
    margin-bottom:0.5em;
    width: 150px;
    height: 45px;
    background-color: #b9a195;
    border: 1px solid #b99e90;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 3px #867e7d;
}
