.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.app-header {
    background-color: #765b58;
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1ece7;
}

.app-title {
    cursor: default;
}

.app-text {
    cursor: default;
    color: #765b58;
}
